.authenticator-bg{
	-fx-background-image: url("../../../../drawable/wallpaper/background_3.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.round-dark-gray-btn{
	 -fx-background-color: #424242;
    -fx-background-radius: 100.0;
    -fx-background-size: 50.0%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.round-dark-gray-btn:hover{
	-fx-background-color: #424242CC;
    -fx-cursor: hand;
}

.connect-icon{
	-fx-background-image: url("../../../../drawable/icons/actions/connect.png");
}

.login-icon{
	 -fx-background-image: url("../../../../drawable/icons/actions/right-arrow.png");
}

.edit-icon{
	 -fx-background-image: url("../../../../drawable/icons/edit.png");
}

.start-icon{
	 -fx-background-image: url("../../../../drawable/icons/actions/play_white.png");
}

.hand-cursor:hover{
	-fx-cursor: hand;
}

.white-outline-btn{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-text-fill: white;
	-fx-border-radius: 6.0px;
    -fx-border-color: white;
    -fx-outer-border: white;
}

.white-outline-btn:hover{
	 -fx-background-color: rgba(255.0,255.0,255.0,0.3);
	-fx-cursor: hand;
}

.transparent-textfield{
	-fx-background-color: rgba(255.0,255.0,255.0,0.6);
	-fx-text-fill: white;
	-fx-prompt-text-fill: rgba(255.0,255.0,255.0,0.7);
	-fx-background-radius: 6.0px;
}


.border-top-white{
	-fx-border-width: 1.0 0.0 0.0 0.0; 
	-fx-border-color: rgba(255.0,255.0,255.0,0.5);
}

.white-background{
	 -fx-background-color: rgb(255.0,255.0,255.0);
}

.border-bottom-white{
	-fx-border-width: 0.0 0.0 1.0 0.0; 
	-fx-border-color: #EEEEEE;
}

.border-right-light-grey{
	-fx-border-width: 0.0 1.0 0.0 0.0; 
	-fx-border-color: #bdbdbd;
}

.send-btn{
	-fx-background-color: #EEEEEE;
	-fx-text-fill: #7986CB;
	-fx-border-color: #E0E0E0;
	-fx-border-radius: 0.0;
	-fx-border-width: 1.0 0.0 0.0 0.0; 
}

.send-btn:hover{
	-fx-background-color: #E0E0E0AA;
	-fx-text-fill: #3F51B5;
	-fx-cursor: hand;
}

.blue-radio-button .dot {
  -fx-mark-color: #3F51B5;
  -fx-background-radius: 15.0px;
  -fx-padding: 5.0px;
}

.blue-radio-button .radio {
    -fx-border-width: 1.0px;
    -fx-border-color: #5C6BC0;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15.0px;
    -fx-padding: 4.0px;
}

.blue-radio-button:hover{
  -fx-cursor: hand;
}

.comment-edit-textfield{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-text-fill: black;
	-fx-prompt-text-fill: rgba(0.0,0.0,0.0,0.5);
	-fx-border-width: 0.0 0.0 1.0 0.0; 
	-fx-border-color: #5C6BC0;
}

.dropshadow-gray{
	-fx-effect: dropshadow(gaussian, #bdbdbdaa, 1.0, 0.0, 0.0, 1.0);
}

.edit-password-textfield{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-text-fill: #616161;
	-fx-padding: 4.0 , 0.0 ,0.0 , 0.0;
	-fx-prompt-text-fill: #616161AA;
	-fx-border-width: 0.0 0.0 1.5 0.0; 
	-fx-border-color: #616161;
}

.edit-password-textfield:disabled{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-text-fill: #757575;
	-fx-opacity: 1.0;
	-fx-prompt-text-fill: #757575AA;
	-fx-border-color: #757575AA;
}



