/*  */
 #login-hbox{
   -fx-background-image: url("../../../../drawable/wallpaper/background_3.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#round-login-btn{
    -fx-background-color: rgba(230.0,230.0,230.0,0.6);
    -fx-background-radius: 100.0;
    -fx-background-image: url("../../../../drawable/icons/right-arrow.png");
    -fx-background-size: 50.0%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#round-connect-btn{
    -fx-background-color: rgba(230.0,230.0,230.0,0.6);
    -fx-background-radius: 100.0;
    -fx-background-image: url("../../../../drawable/icons/connect.png");
    -fx-background-size: 45.0%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#round-connect-btn:hover{
	-fx-background-color: rgba(255.0,255.0,255.0,0.7);
    -fx-cursor: hand;
}

#round-login-btn:hover{
    -fx-background-color: rgba(255.0,255.0,255.0,0.7);
    -fx-cursor: hand;
}


.hand-cursor:hover{
	-fx-cursor: hand;
}

.transparent-textfield{
	-fx-background-color: rgba(255.0,255.0,255.0,0.6);
	-fx-text-fill: white;
	-fx-prompt-text-fill: rgba(255.0,255.0,255.0,0.7);
	-fx-background-radius: 6.0px;
}

.white-outline-btn{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-text-fill: white;
	-fx-border-radius: 6.0px;
    -fx-border-color: white;
    -fx-outer-border: white;
}

.white-outline-btn:hover{
	 -fx-background-color: rgba(255.0,255.0,255.0,0.3);
	-fx-cursor: hand;
}

