.border-bottom{
	-fx-border-width: 0.0 0.0 1.0 0.0; 
	-fx-border-color: #e0e0e0e0;
}

.blue-bg{
	-fx-background-color: rgba(58.0, 83.0, 155.0,0.4);
}

.list-space{
	-fx-border-width: 1.0 0.0 1.0 0.0; 
	-fx-border-color: #eeeeee;
	-fx-background-color: #e0e0e0;
}

.header-space{
	-fx-border-width: 0.0 0.0 1.0 0.0; 
	-fx-border-color: #BDBDBD;
}

.hand-cursor:hover{
	-fx-cursor: hand;
}


.edit-textfield{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-text-fill: black;
	-fx-prompt-text-fill: rgba(0.0,0.0,0.0,0.5);
	-fx-border-width: 0.0 0.0 1.0 0.0; 
	-fx-border-color: #212121;
}

.edit-textfield:disabled{
	-fx-background-color: rgba(255.0,255.0,255.0,0.0);
	-fx-text-fill: black;
	-fx-opacity: 1.0;
	-fx-prompt-text-fill: rgba(0.0,0.0,0.0,1.0);
	-fx-border-width: 0.0 0.0 1.0 0.0; 
	-fx-border-color: rgba(255.0,255.0,255.0,0.0);
}